/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: rgb(248, 232, 144) */
    background: url("mario-kart-wallpaper.png") no-repeat center center fixed;
    /* background-repeat: no-repeat; */
    background-size: auto;
}

.fix {
    position: fixed;
    bottom: 0px;
    left: 50%;
}