/* You can add global styles to this file, and also import other style files */

html {
  background: url('assets/mario-background.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0 5px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif !important;

}

.mat-select-value {
  color: #FFFFFF;
}

.mat-select-arrow {
  color: white;
}

@font-face {
  font-family: mario;
  src: url("assets/fonts/mario-kart.ttf") format("truetype");
}
