.table-container {
  width: 50%;
  margin: auto;

  background-color: #6096FF26;
}

.table {
  width: 100%;
}

.mat-table {
  font-family: 'Orbitron', sans-serif;

  background: inherit;
}

.mat-cell {
  font-size: 1.5em;
  color: inherit;
}

.mat-header-cell {
  font-size: 1.25em;
  color: inherit;

  border-bottom: 2px solid white;
  border-radius: 0;
}

.table__caption {
  font-size: 3em;

  margin: 5px 0 10px 0;
  padding: 10px;

  animation: up-down--animation 5s ease-in-out infinite;
}

.table__caption .trophy-icon {
  overflow: visible;
  height: 1.25em;
  width: 1.25em;
}

.table__icon {
  height: 1em;
  width: 1em;
}

.mat-row:hover .table__icon {
  animation-duration: 500ms;
  animation-name: coin--animation;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
