<ng-container
  *ngIf="isDesktop;
    then desktopBlock;
    else mobileBlock">
</ng-container>

<!--Mobile View-->
<ng-template #mobileBlock>
  <div class="app-header">
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>reorder</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item class="menu-button"
                [ngClass]="{ 'underlined-mobile': currentRoute === '/' }"
                (click)="navigate('')">
          <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
          <span>HOME</span>
        </button>
        <button mat-menu-item class="menu-button"
                [ngClass]="{ 'underlined-mobile': currentRoute === '/new-race' }"
                (click)="navigate('new-race')">
          <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
          <span>NEW RACE</span>
        </button>
        <button mat-menu-item class="menu-button"
                [ngClass]="{ 'underlined-mobile': currentRoute === '/ranking' }"
                (click)="navigate('ranking')">
          <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
          <span>RANKING</span>
        </button>
        <button mat-menu-item class="menu-button"
                [ngClass]="{ 'underlined-mobile': currentRoute === '/last-races' }"
                (click)="navigate('last-races')">
          <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
          <span>LAST RACES</span>
        </button>
        <button mat-menu-item class="menu-button" *ngIf="isActivated"
                [ngClass]="{ 'underlined': currentRoute === '/players' }"
                (click)="navigate('players')">
          <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
          <span>PLAYERS</span>
        </button>
      </mat-menu>
    </div>
    <a class="header__logo"
       (click)="navigate('')">
      <div class="header__logo__container">
        <div class="header__logo__container__text">MLEKO</div>
        <img src="assets/milk_bucket.webp" alt="mleko_logo" class="mobile-mleko-icon">
      </div>
    </a>
  </div>
</ng-template>


<!--Desktop View-->
<ng-template #desktopBlock>
  <mat-toolbar class="app-header" color="primary">

    <a class="header__logo header__logo--desktop"
       (click)="navigate('')">
      <div class="header__logo__container">
        <div class="header__logo__container__text">MLEKO</div>
        <img src="assets/milk_bucket.webp" alt="mleko_logo" class="desktop-mleko-icon">
      </div>
    </a>

    <span class="spacer"></span>

    <!-- Buttons -->
    <button mat-button class="header__button"
            [ngClass]="{ 'underlined': currentRoute === '/' }"
            (click)="navigate('')">
      <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
      <span class="header__button__text">
        HOME
      </span>
    </button>
    <button mat-button class="header__button"
            [ngClass]="{ 'underlined': currentRoute === '/new-race' }"
            (click)="navigate('new-race')">
      <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
      <span class="header__button__text">
        NEW RACE
      </span>
    </button>
    <button mat-button class="header__button"
            [ngClass]="{ 'underlined': currentRoute === '/ranking' }"
            (click)="navigate('ranking')">
      <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
      <span class="header__button__text">
        RANKING
      </span>
    </button>
    <button mat-button class="header__button"
            [ngClass]="{ 'underlined': currentRoute === '/last-races' }"
            (click)="navigate('last-races')">
      <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
      <span class="header__button__text">
        LAST RACES
      </span>
    </button>
    <button mat-button class="header__button" *ngIf="isActivated"
            [ngClass]="{ 'underlined': currentRoute === '/players' }"
            (click)="navigate('players')">
      <mat-icon class="cloud-icon" [svgIcon]="'cloud'"></mat-icon>
      <span class="header__button__text">
        PLAYERS
      </span>
    </button>

    <!-- player icon -->
    <div class="player-icon-container">
      <img class="player-icon" [src]="playerIconPath" alt="Player Icon"/>
      <div class="player-icon__text">placeholder</div>
    </div>
  </mat-toolbar>
</ng-template>
