.race-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.75vh;
}

.race-form {
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 80vw;
  max-width: 720px;
}

.player__option {
  display: flex;
  align-items: center;

  gap: 5px;
}
