<mat-toolbar color="primary">
    <span (click)="navigate('last-results')"><img src="https://img.icons8.com/stickers/100/000000/super-mario.png"/></span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="navigate('user-add')">person_add</mat-icon>
  </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="navigate('new-result')">note_add</mat-icon>
  </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="navigate('last-results')">directions_car</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>