<div class="dialog-container">
  <ng-container *ngIf="data.games.length; else noGames">
    <h1 matDialogTitle>Games against {{data.player.name}}</h1>
    <div class="dialog-content" matDialogContent>
      <div class="game-container" *ngFor="let game of data.games">
        {{game.date | date : 'dd.MM.yyyy': 'pl-PL'}}
        <p *ngFor="let player of game.resultTable"
           [ngClass]="player.eloChange < 0 ? 'negative-delta' : 'positive-delta'">
          {{player.text}}
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #noGames>
    <h1 matDialogTitle>No games against {{data.player.name}}</h1>
  </ng-template>
</div>
