<ng-container
  *ngIf="screenService.isDesktop;
  then desktopBlock;
  else mobileBlock">
</ng-container>

<!--Mobile View-->
<ng-template #mobileBlock>
  <!--  TOP PLAYERS -->
  <div class="list-container">

    <div class="header-with-icon header-with-icon--mobile top-players">
      <mat-icon class="trophy-icon" [svgIcon]="'trophy'"></mat-icon>
      <h1>TOP PLAYERS</h1>
    </div>

    <div class="list list--mobile">
      <div class="small-ranking" *ngFor="let i = index; let player of players">
        <p class="player-position player-position--mobile">
          {{ i + 1 }}. {{ player.name }}
        </p>
        <p class="player-elo player-elo--mobile">
          <img class="player-elo__icon" src="assets/coin.png" alt="coin-icon">
          {{ player.elo }}
        </p>
      </div>
    </div>

    <a class="see-more" (click)="navigate('ranking')">
      <span>See more</span>
      <mat-icon class="list__footer__icon" [svgIcon]="'arrow'"></mat-icon>
    </a>

  </div>
  <!-- ADD NEW USER -->
  <div class="new-user-inputs">
    <div class="header-with-icon">
      <mat-icon class="finger-icon" [svgIcon]="'finger'"></mat-icon>
      ADD NEW USER
    </div>

    <div class="form-container">
      <!-- TODO mat-form-field seems to be borderline impossible to style, replace it with native inputs -->
      <form class="registration-form" [formGroup]="registrationForm">
        <mat-form-field>
          <input matNativeControl class="new-user-input" type="text" placeholder="username"
                 formControlName="username">
        </mat-form-field>
        <span class="error-prompt">{{errorText}}</span>
        <mat-form-field>
          <input matNativeControl class="new-user-input" type="email" placeholder="email"
                 formControlName="email">
        </mat-form-field>
      </form>

      <div class="registration-button-container">
        <button mat-button class="registration-button" color="primary"
                [disabled]="isRegistering" (click)="submitForm()">
          {{isRegistering ? 'Adding...' : 'Add'}}
        </button>
      </div>
    </div>
  </div>

</ng-template>

<!--Desktop View-->
<ng-template #desktopBlock>
  <div class="homepage-container" xmlns="http://www.w3.org/1999/html">

    <div class="list-container">

      <div class="header-with-icon top-players">
        <mat-icon class="trophy-icon" [svgIcon]="'trophy'"></mat-icon>
        <h1>TOP PLAYERS</h1>
      </div>

      <div class="list">
        <div class="small-ranking" *ngFor="let i = index; let player of players">
          <div class="player-position">{{ i + 1 }}. {{ player.name }}</div>
          <div class="player-elo">
            <img class="player-elo__icon" src="assets/coin.png" alt="coin-icon">
            {{ player.elo }}
          </div>
        </div>
      </div>

      <a class="see-more" (click)="navigate('ranking')">
        <span>See more</span>
        <mat-icon class="list__footer__icon" [svgIcon]="'arrow'"></mat-icon>
      </a>

    </div>

    <hr>  <!-- line separator -->

    <div class="useradd-container">

      <div class="header-with-icon logo">
        MLEKO
        <img class="mleko-logo" src="assets/milk_bucket.webp" alt="mleko_logo">
      </div>


      <div class="new-user-inputs">
        <div class="header-with-icon">
          <mat-icon class="finger-icon" [svgIcon]="'finger'"></mat-icon>
          ADD NEW USER
        </div>

        <div class="form-container">
          <!-- TODO mat-form-field seems to be borderline impossible to style, replace it with native inputs -->
          <form class="registration-form" [formGroup]="registrationForm">
            <mat-form-field>
              <input matNativeControl class="new-user-input" type="text" placeholder="username"
                     formControlName="username">
            </mat-form-field>
            <span class="error-prompt">{{errorText}}</span>
            <mat-form-field>
              <input matNativeControl class="new-user-input" type="email" placeholder="email"
                     formControlName="email">
            </mat-form-field>
          </form>
          <div class="registration-button-container">
            <button mat-button class="registration-button" color="primary"
                    [disabled]="isRegistering" (click)="submitForm()">
              {{isRegistering ? 'Adding...' : 'Add'}}
            </button>
          </div>

        </div>
      </div>

    </div>

  </div>
</ng-template>
