.table-container {
  width: 50%;
  margin: auto;

  background-color: #6096FF26;
}

.table {
  width: 100%;
}

.mat-table {
  font-family: 'Orbitron', sans-serif;

  background: inherit;
}

.mat-cell {
  color: inherit;
}

.mat-header-cell {
  font-size: 1.25em;
  color: inherit;

  border-bottom: 2px solid white;
  border-radius: 0;
}

.mat-paginator {
  background: inherit;
  color: inherit;

  background-color: #6096FF26;
}

.table__caption {
  font-size: 3em;

  margin: 5px 0 10px 0;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
